@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Arvo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: Arvo, sans-serif;
    font-weight: 400;
    color:#363939;
}

a {
    text-decoration: none;
}




h1, h2, h3, h4 {
    font-family:Antonio, sans-serif ;
    font-weight: 400;
    color: #202020;
    letter-spacing: 3px;
}

header {
    width: 100%;
    height: 100px;
}

#top-banner {
    width: 100%;
    height: 75px;
    background-color: rgba(226, 228, 227, 0.9);
}
#bottom-banner {
    width: 100%;
    height: 75px;
    background-image: linear-gradient( rgba(226, 228, 227, 1), #ffffff);
}

@media screen and (max-width: 950px) {
    #bottom-banner {
        height: 35px;

    }
    
}

/* Headings and nav menue */
#logo {
    float: left;
    font-size: 250%;
    margin-left: 35px;
    letter-spacing: 7px;
    text-decoration: none;
    line-height: 90px;
    
}

#navigation {
    
    line-height: 90px;

}

#navigation li {
    margin-right: 30px;
    list-style-type: none;
    float: right;
    
    


}

#navigation a {
    font-size: 165%;
    color: inherit;
    
    
}

#navigation a:hover, .active {
    border-bottom: 2px solid #363939 ;
}

/* For media screens sizes below 950px*/
@media screen and (max-width:950px) {
    header {
        width: 100%;
        height: 120px;
    }

    #navigation {
    font-size: 55%;
    clear: left;
    float: left;
    margin-left: 40px;
    margin-bottom: 25px;
    
    line-height: 45px;
    }
    #navigation li {
        align-items: center;
    }

    #logo {
        margin-top: 25px;
        font-size: 100%;
        line-height: 45px;
        margin-left: 40px;
    }
}


/*---------------------- Index.HTML----------------------*/

/* hero images and cover text*/
#hero-container {
    width: 100%;
    height:300px;
    position: relative;
}

#hero { 
    background-image: url("../images/Hero-img_small.jpg");
    background-color: #cccccc; 
    width: 100%;
    height: 300px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 0%; 
    

}

#cover-text {
    position: absolute;
    background-color: rgba(226, 228, 227, 0.2);
    border-radius: 15%;
    justify-content: center;
    bottom: 40%;
    left:45%;
    line-height: 25px;
    
    height: auto;
    
    width: auto;

    /* Animates cover text on page load */
    animation-name: cover-show;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
    
}

#cover-text h2 {
    font-size: 200%;
}





/* Createsm visibility for cover-text */

@keyframes cover-show {
    from {
        opacity:  0 ;
        transform: scale(0);
        left: 0%;
     }
  
    to {
        opacity:  1 ;
        transform: scale(1);
        left: 45%;
        
    }
}

@media screen and (max-width: 950px) {
    #cover-text {
        background-color: rgba(226, 228, 227, 0.5);
        border-radius: 15%;
        
        
    }

    #cover-text h2 {
        font-size: 80%;
        letter-spacing: 1px;
        padding: 3px;
    }

   
    
}


/* Head line */

#head-line-container {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 100%; 
    
    background-image: linear-gradient(to right, rgb(175, 179, 156, 0.7), rgba(226, 228, 227, 0.7));
}

@media screen and (max-width: 950px) {
    #head-line-container {
        height: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 40%;
    }
}

/* Article section with side picture*/

#text-outer {
    width: 100%;
    height: 900px;
    background-color: rgba(255, 240, 212, 0.7);
    padding : 2% 0;

}

#text-container {
    background-color: #fff;
    margin:  0 auto;
    width: 96%;
    height: 840px;
    
    box-sizing: border-box;
    border: 2px solid #202020;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px #363939;
}

#text-top {
    float: left;
    height: 300px;
    border-radius: 15px 0 0 0;
    
    width: 60%;
    padding: 25px;
    line-height: 25px;
    box-sizing: border-box;
}

#text-bottom {
    
    height: 536px;
    width: 60%;
    border-radius: 0 0 0 15px;
    
    float: left;
    padding: 25px;
    line-height: 25px;
    box-sizing: border-box;
}

#text-container ul {
    padding-left: 20px;
}


#text-container h2 {
    text-align: center;
}

#img1 {
    float: left;
    
    width: 40%;
    height: 300px;
    
    background-image: url("../images/mindful-small.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 15px 0 0;
    box-sizing: border-box;
    
}
#img2 {
    float: left;
    
    width: 40%;
    height: 536px;
    
    background-image: url("../images/Side-neck-small.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 15px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 950px){
    #text-outer {
        display: flex;
        height: 100%;
        width: 100%;
    }
    #text-container {
    background-color: #fff;
    padding: 25px 0;
    width: 96%;
   
    height: 100%;
    margin: 0 auto;
    
    border: 2px solid #202020;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px #363939;
    }
    #text-container h2 {
        font-size: 100%;
    }
    #text-container h3 {
        font-size: 75%;
    }
   


    #text-top {
        
       height: auto;
        
        width: 90%;
        margin: 0 5%;
        padding: 10px;
        /*line-height: 25px;
        box-sizing: border-box;*/
    }

    #img1 {
    
    width: 90%; 
    height: 260px;
    margin: 0 5%;
    border-radius: unset;
    
    /*background-image: url(../images/mindful-small.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    
    }

    #text-bottom {
         
        /*height: auto;*/
        width: 90%;
        margin: 0 5%;
       
        padding: 10px;
       /* line-height: 25px;*/
        
    }

    #img2 {
            
          
    width: 90%;
    /*height: 400px;*/
    margin: 0 5%;
    border-radius: unset;
    /*background-image: url(../images/Side-neck-small.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    
    
    }
}


/* Newsletter section */


   /* background-color: rgb(175, 179, 156, 0.9); */


#newsletter {
    text-align: center;
    line-height: 50px;
    height: auto;
    width: 100%;
    background-color: rgb(226, 228, 227, 0.9);
    padding-bottom: 35px;
    background-image: linear-gradient( rgba(226,228, 227, 1), #ffffff);
}



#newsletter button, input {
    width: 200px;
    height:35px;
    background-color: #ffffff;
    padding: 5px;
    border: 3px solid #202020 ;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
}
#newsletter button {
    height: 35px;
    width: 100px;
    
}

@media screen and (max-width: 950px) {
    #newsletter h2 {
        font-size: 80%;
    }
}



/*-------------------------------------------- EXERCISES.HTML--------------------------------------------*/



.exer-h1 {
    text-align: center;
    font-size: 250%;
    line-height: 25px;
    margin-top: 50px;
    padding: 25px;
    
}

.exer-h3 {
    text-decoration: underline;
}

strong {
    font-weight: 700px;
}

.exer-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;

    
}


/* Main container */
#exer-outer {
    display: flex;
    background-color: rgba(255, 240, 212, 0.7);
    width: 100%;
    height: 100%;
    
}
.exer-container {
    
   border: #202020 2px solid;
   border-radius: 15px;
   width: 96%;
   height: 100%;
   margin: 4% auto;
   background-color: #ffffff;
   box-sizing: border-box;
   box-shadow: 5px 5px #363939;
   
}
.exer-h2 {
    padding-top: 5%;
    clear: both;
    margin-left: 2%;
    font-size: 250%;
    text-align: center;
}


fieldset {
    
    line-height: 25px;
    width: 90%;
    height: 250px;
    overflow: scroll;
    border: 2px solid #202020;
    align-content: center;
    margin: auto;
    padding-left: 25px;
 }
 #top-text-container{
     
     width: 50%;
     float: left;
     box-sizing: border-box;
 }

 #bottom-text-container {
    
     width: 50%;
     float: left;
     box-sizing: border-box;
     margin-bottom: 3%;
 }




/* Side picture for the first exercises section*/
#pic1 {
    
    float: right;
    
    height: 564px;
    width: 48%;
    box-sizing: border-box;
    background-image: url("../images/Deskyoga\ Legs\,hips.jpeg");
     
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    margin-right: 2%; 
    box-sizing: border-box;
    
}

/* Side picture for the second exercises section*/
#pic2 {
    
    float: right;
    
    height: 564px;
    width: 48%;
    box-sizing: border-box;
    background-image: url("../images/Desk\ yoga\ shoulders\ neck.jpeg");
    
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    margin-right: 2%; 
    box-sizing: border-box;
    
}

@media screen  and (max-width: 950px)  {
    .exer-h2 {
        padding-top: 5%;
        clear: both;
        
        text-align: center;
        margin-left: 2%;
        font-size: 250%;
        text-decoration: underline;
    }

    #top-text-container {
        clear: both;
        float: left;
        width: 100%;

    }
    #bottom-text-container {
        clear: left;
        float: left;
        width: 100%;

    }
    #pic1 {
        clear: both;
        float: left;
        width: 100%;
    }
    #pic2 {
        clear: both;
        float: left;
        width: 100%;
    }
    
}


/*---------------------- Mindfulness.HTML----------------------*/



#vid-container-main {
    width: 100%;
    height: 800px;
    background-color: rgba(255, 240, 212, 0.7);
    padding: 2% 0;

    
}

#vid-container-main h2 {
    text-align: center;
}

#vid-container-main p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}



#vid-container {
    border: 2px solid #202020;
    background-color: #ffffff;
    width: 96%;
    height: auto;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px;
    
}

#vid-container h2 {
    padding: 2%;
}

.five-minute {
    height: 350px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    

}
.ten-minute {
    height: 350px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px ;
    
}
iframe {
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

/*---------------------- Footer---------------------------*/
#contact {
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    text-shadow: 7px 15px 17px #202020;
    
}

#contact li {
    display: inline;
    margin: 0 auto;
    
}
#contact i {
    color: #202020;
    font-size: 250%;
    padding: 1%;
    margin: 5%;

}

@media screen and (max-width: 950px) {
    #contact{
        padding-top: 10%;
    }
    
    #contact i {
        
        font-size: 150%;
        
    
    }
}
