@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: Arvo, sans-serif;
    font-weight: 400;
    color:#363939;
}

a {
    text-decoration: none;
}

/* Headings and nav menue */


h1, h2, h3, h4 {
    font-family:Lilita One, sans-serif ;
    font-weight: 400;
    color: #202020;
    letter-spacing: 3px;
}

header {
    width: 100%;
    height: 100px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 35px;
    letter-spacing: 7px;
    text-decoration: none;
    line-height: 90px;
    
}

#navigation {
    
    line-height: 90px;

}

#navigation li {
    margin-right: 30px;
    list-style-type: none;
    float: right;
    
    


}

#navigation a {
    font-size: 165%;
    color: inherit;
    
    
}

#navigation a:hover, .active {
    border-bottom: 2px solid #363939 ;
}

/* hero images and cover text*/
#hero-container {
    width: 100%;
    height:300px;
    position: relative;
}

#hero { 
    background-image: url("../images/Arm-stretch.jpg");
    background-color: #cccccc; 
    width: 100%;
    height: 300px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    

}

#cover-text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    
    bottom: 50%;
    left:35%;
    text-align: center;
    justify-content: center;
    font-size: 200%;
    height: 50px;
    width: auto;

    /* Animates cover text on page load */
    animation-name: cover-show;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
    
}





/* Createsm visibility for cover-text */

@keyframes cover-show {
    from {
        opacity:  0 ;
        transform: scale(0);
     }
  
    to {
        opacity:  1 ;
        transform: scale(1);
    }
}

/* Head line */

#head-line-container {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 150%; 
    background-color: rgb(175, 179, 156, 0.9);
}

/* Article section with side picture*/

#text-outer {
    width: 100%;
    height: 800px;
    
}

#text-container {
    float: left;
    width: 64%;
    height: auto;
    
    margin-top: 30px;
    margin-left: 2%;
    margin-bottom: 30px;
   
    
    box-sizing: border-box;
}

#text-container div {
    border: 2px solid #202020;
    padding: 30px;
    
    line-height: 25px;  
}

#text-top {
    height: 236px;
    border-radius: 15px 0 0 0;
}

#text-bottom {
    height: 436px ;
    border-radius: 0 0 0 15px;
}

#text-container ul {
    padding-left: 20px;
}


#text-container h2 {
    text-align: center;
}

#side {
    float:left;
    
    width: 32%;
    height: auto;
    margin-top: 30px;
    margin-right: 2%;
    margin-bottom: 30px;
    border: 2px solid #202020;
    box-sizing: border-box;
    border-radius: 0 15px 15px 0;
    
}
#img1 {
    background-color: aqua;
    width: 100%;
    height: 398px;
    box-sizing: border-box;

    
    background-image: url("../images/women-stripe-midful.jpg");
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 0 15px 0 0;
    
}
#img2 {
    background-color: white;
    width: 100%;
    height: 398px;
    box-sizing: border-box;

    background-image: url("../images/women-neck-stretch.jpg");
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 0 0 15px 0;
    
}

/* Newsletter section */
#newsletter {
    text-align: center;
    line-height: 50px;
}

#newsletter form {
    background-color: rgb(175, 179, 156, 0.9);
}

#newsletter button, input {
    background-color: #cccccc;
    padding: 5px;
    border: 2px solid #202020 ;
    margin: 5px;
    text-align: center;
}